.buscador{
    width: 300px;
    padding: 25px;
    height: 800px;
    background-color: white;
    border-radius: 25px;
    margin-right: 150px;
}

.trabajos{
    display: flex;
    align-items: center;
}

.trabajo_texto{
    display: block;
    margin: 10px;
}

.trabajos img{
    width: 100px;
    height: 100px;
}

.trabajos button {
    margin-left: auto;
    height: 50px;
    width: 100px;
}

.recomendaciones{
    width: 1200px;
    padding: 25px;
    height: 800px;
    background-color: white;
    border-radius: 25px;
}

.contenedor_total{
    display: flex;
    width: 1700px;
    height: 1000px;
    margin-left: 80px;
    margin-top: 80px;
}

.palabras_clave{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.palabras_clave select {
    width: 200px;
    height: 40px;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 32px;
}